# Ignore virtual environment
.venv/

# VS Code settings
.vscode/

# Jupyter Notebook metadata
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

#data files
*.csv
*.json
*.xlsx  

#documents supported
*.docx